In [1]:
from collections import namedtuple
n =  int(input())
a = namedtuple("school", input())
b = []

for i in range(n):
    
    b.append(a(*input().split()))

c = 0
for i in b:
    c += (int(i.MARKS))

print(c/n)

5
ID MARKS NAME CLASS
1          97         Raymond    7
2          50         Steven     4
3          91         Adrian     9
4          72         Stewart    5
5          80         Peter      6
78.0